@font-face {
  font-family: "iconfont"; /* Project id 3258081 */
  src: url('//at.alicdn.com/t/font_3258081_edus0bs6bw.woff2?t=1647768254345') format('woff2'),
       url('//at.alicdn.com/t/font_3258081_edus0bs6bw.woff?t=1647768254345') format('woff'),
       url('//at.alicdn.com/t/font_3258081_edus0bs6bw.ttf?t=1647768254345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoujihaoma:before {
  content: "\e65d";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-tongxingbie:before {
  content: "\e619";
}

.icon-key1:before {
  content: "\e614";
}

.icon-200yonghu_yonghu:before {
  content: "\e63c";
}
